####################################################
#                                                  #
#   http://doc.qt.io/qt-5/stylesheet-syntax.html   #
#                                                  #
####################################################
